/*это плохая практика, можно поступить лучше*/
/*и использовать normalize.css, кроме того задать отдельным блокам их сбросы по необходимости,*/
/*это бывает крайне редко нужным, а нагрузка на каждый элемент (*) очевидно излишняя*/
 @font-face {
  font-family: 'OpenSans';
  src: url(/fonts/OpenSans.ttf);
  font-style: normal;
  font-weight: normal;
}

:root {
  --color-main: #06232C;
  --color-secondary: #DCDCDC;
  --color-lines: #ffffff41;
}
/*это больше для body подходит, html скорее служебный тег, body является частью визуала*/
.body {
  background-color: var(--color-main);
  font-size: 16px;
  font-family: 'OpenSans';
  font-style: normal;
  box-sizing: border-box;
}

.title {
  font-weight: 800;
  font-size: 19px;
  margin: 0 0 16px;
}

/**
   идею я понимаю, однако текст обычно соответствует 1em по логике, т.е. установлен font-size на body и от него каскадом распространяется
   на текст, например ставишь у body font-size 14px и его ожидаешь для текста,
   профит в том чтобы не указывать лишние стили там где они будут каскадом распространятся
 */
.text {
  font-size: 14px;
}

.container {
  /*во-первых лучше max-width чтобы не пострадала адаптивность, во-вторых пиксели привычнее как-то*/
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  color: var(--color-secondary);
  padding: 0 5px;
}

 @media (max-width:700px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .contact_detail_item {
    flex-basis: 45%;
  }

  .contact_detail_item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .contact_detail_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
  }
}

.profile_img {
   /*а вот это уже неудобно, вообще почти всё пишут в пикселях, хотя идею с em можно применять успешно в тех же блогах,
  когда нужно скалировать контент относительно пользовательского размера шрифта*/
  width: 115px;
  height: 115px;
  /*лучше 50%*/
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.profile {
  display: flex;
}

.profile_detail {
  margin: 0 0 0 8px;
}

.profile_name {
  font-size: 32px;
  font-weight: 800;
  width: 300px;
  line-height: 1.1;
  margin: 16px 0 0;
  /*если планируется несколько шрифтов, то лучше вынести их через css variables,
  а если шрифт планируется один, то его надо установить однажды на body тег*/
}

.profile_position {
  font-size: 22px;
  font-weight: 400;
}

.contact_detail {
  margin: 16px 0 0;
}

.contact_detail_list {
  list-style-type: none;
  padding: 0;

}

.contact_detail_item {
  list-style-type: none;
  margin: 13px 0 0;
  display: flex;
  align-items: center;
  column-gap: 8px;

}

.contact_detail_icon {
  width: 16px;
  height: 16px;
  color: var(--color-secondary);
}

.contact_detail_text {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-secondary);
  text-decoration: none;
}

.main_content {
  display: flex;
  margin: 14px 0 0;
  border-top: 1px solid var(--color-lines);
}

.main_content-left {
  max-width: 608px;
  width: 100%;
  /*очень много дублирования цветов, их тоже стоит выносить через переменные, например var(--border-color)*/
  border-right: 1px solid var(--color-lines);
}

.about {
  padding: 0 8px 16px 0;
  margin: 11px 0 0;
  border-bottom: 1px solid var(--color-lines);
}

.about_description {
  font-weight: 400;
  line-height: 1.4;
}

.education {
  padding: 16px 0 0;
}

.education_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.education_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 8px 0 0;
}

.delimiter_section{
  border-bottom: 1px solid var(--color-lines);
  padding: 16px 8px 16px 19px;
}

.language_name {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.hobbies {
  padding: 16px 8px 16px 19px;
}

.hobbies_list {
  list-style-type: none;
  padding: 0;
}

/*если нужен пользовательский шрифт, то логично бы поключить его в начале файла*/
/*если шрифт есть через google fonts - лучше подключить оттуда*/
.footer {
  text-align: center;
  margin: 150px 0 0;
  height: 100px;
  color: var(--color-secondary);
}